$blue: rgb(0, 122, 255);
$dark-blue: rgb(10, 132, 255);
$red: rgb(255, 59, 48);
$dark-red: rgb(255, 69, 58);
$green: rgb(52, 199, 89);
$dark-green: rgb(48, 209, 88);
$vscode-blue: #007ACC;
$vscode-blue-light: #1177BB;