@import 'base/colors';

.App{
    width: 100%;
    height: 100%;

    background-color: #0C0C0C;

    display: flex;
    flex-direction: column;
    //background: #fff;
}

.bg-preview{
    width: 100%;
    height: 331px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    transition: all 0.4s ease-out;

    &-content{
        width: calc(100% - 28px);
        height: 91%;
        margin: 14px 0 0 0;

        background: rgb(52,152,219);
        background: linear-gradient(140deg, rgba(52,152,219,1) 0%, rgba(155,89,182,1) 100%);
    }
}

.control{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1; 
    min-height: 0;

    &-type{
        width: 90%;

        margin-top: 35px;
    
        .name{
            color: #000;
            margin-bottom: 15px;
        }
    
        .type-wrapper{
            display: flex;
            justify-content: space-evenly;
        }
    
        &__item{
            width: 40%;
            height: 100px;
            border: 4px solid #000;
            border-radius: 12px;
        }
    }
}


.points{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    &-wrapper{
        display: flex;
        //align-items: flex-start;
        // justify-content: space-between;
        flex-wrap: wrap;

        //flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;

        padding-bottom: 30px;
    }
}

.section{
    width: 90%;
    border-radius: 7px;
    //border: 2px solid #fff;
    padding: 0 15px;

    &-title{
        color: #fff;
        align-self: start;
        font-size: 2rem;
        font-weight: bold;
        margin: 10px 0 20px 0;
    }
}