@import 'base/colors';

.App{
    width: 100%;
    height: 100%;

    background-color: #252526;

    display: flex;
    flex-direction: column;
    //background: #fff;
}

.bg-preview{
    width: 100%;
    height: 331px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    transition: all 0.4s ease-out;

    &-content{
        width: calc(100% - 28px);
        height: 91%;
        margin: 14px 0 0 0;

        background: rgb(52,152,219);
        background: linear-gradient(140deg, rgba(52,152,219,1) 0%, rgba(155,89,182,1) 100%);
    }
}

.control{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1; 
    min-height: 0;

    &-type{
        width: 90%;

        margin-top: 35px;
    
        .name{
            color: #000;
            margin-bottom: 15px;
        }
    
        .type-wrapper{
            display: flex;
            justify-content: space-evenly;
        }
    
        &__item{
            width: 40%;
            height: 100px;
            border: 4px solid #000;
            border-radius: 12px;
        }
    }
}


.points{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    &-wrapper{
        display: flex;
        //align-items: flex-start;
        // justify-content: space-between;
        flex-wrap: wrap;

        //flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;

        padding-bottom: 30px;
    }
}

.section{
    width: 90%;
    border-radius: 7px;
    //border: 2px solid #fff;
    padding: 0 15px;

    &-title{
        color: #fff;
        text-transform: uppercase;
        align-self: start;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 10px 0 20px 0;
    }
}

@media (max-width: 1200px){
    .point-inf{
        width: calc(33% - 34px - 10px);   
    }
}

@media (max-width: 992px){
    .point-inf{
        width: calc(33% - 34px - 10px);   
    }
}   

@media (max-width: 767px){
    .point-inf{
        width: calc(50% - 34px - 10px);
    }
}

// @media (max-width: 400px){
//     .point-inf{
//         width: calc(100% - 34px - 10px);
//     }
// }

@media (max-width: 400px){
    .color-picker-wrapper{
        left: 0px !important;
    }

    .control{
        overflow: auto;
    }

    .section{
        width: 95%;
    }

    .type{
        bottom: 10px;

        &-item{
            height: 28px;
            line-height: 28px;
            font-size: 0.7rem;
            font-weight: normal;
        }
    }

    .point-inf{
        width: calc(100%);
        margin: 0;
        border: none;

        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 

        margin-bottom: 3px;

        height: 58px;

        display: flex;
        justify-content: center;

        padding: 0 10px;

        border-radius: 0;

        &-id{
            font-size: 0.8rem;
        }

        .point-inf-color{
            display: none;
        }

        .color{
            width: 75px;
            height: 35px;

            span{
                line-height: 35px;
                font-size: 0.8rem;
                display: inline-block;
            }
        }

        .position{
            text-align: center;
            font-size: 1.1rem;
            margin-left: -10%;

            &-remove{
                font-size: 0.8rem;
                bottom: 5px;
            }
        }
    }

    .bg-preview{
        width: 100%;
        height: 331px;

        &-content{
            margin: 0;
            width: 100%;
            height: 100%;
        }
    }

    .slider{
        &-add{
            font-size: 0.9rem;
        }
    }
    
    .slider-wrapper-angle{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        .angle{
            margin: 0;

            font-size: 1.3rem;
            padding: 5px;
            width: auto;

            width: 90%;
            margin-bottom: 15px;
        }
    }

    .range-slider, .angle-slider{
        width: 90%;
    }

    .points{
        &-wrapper{
            display: block;
            /* display: flex; */
            /* flex-wrap: wrap; */
            overflow-x: visible;
            overflow-y: visible;
            /* padding-bottom: 30px; */
        }

        .section-title{
            font-size: 1.2rem;
            margin-left: 2.5%;
        }
        
        width: 100%;
    }

    .range-selector-wrapper{
        height: 89px;
    }
}

.info-banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content{
        font-size: 1.5rem;
        color: #000;
        background-color: #fff;
        padding: 10px;
        font-weight: bold;
    }
}