@import '../../base/colors';

.point-inf{
    padding: 17px;
    width: calc(33% - 34px - 10px);
    
    background-color: #171717;
    //wbackground-color: #080808;
    border-radius: 6px;
    border: 1px solid #383838;

    margin: 5px 4px;
    
    height: 102px;

    display: flex;
    flex-direction: column;
    //align-items: center;

    //justify-content: space-between;

    //padding-bottom: 10px !important;
    
    position: relative;

    &-color{
        color: #8c8c8c;
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 0.8rem;
    }

    &-id{
        position: absolute;
        right: 10px;
        top: 10px;
        color: $blue;
    }

    &-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .color{
        span{
            display: none;
        }

        text-align: center;
        font-weight: bold;
        color: #fff;

        border-radius: 3px;
        //border: 5px solid #fff;

        cursor: pointer;

        width: 70px;
        height: 70px;
        background: #9b59b6;
    }

    .position{
        color: #fff;

        text-align: right;

        
        font-size: 1.6rem;
        font-weight: lighter;

        &-remove{
            cursor: pointer;
            display: inline-block;
            align-self: flex-end;
            font-weight: bold;
            text-align: right;
            color: $red;
            margin-top: 10px;

            position: absolute;
            bottom: 10px;

            transition: all 0.2s linear;

            &.disabled{
                opacity: 0.6;
            }
        }
    }
    
}

.color-inf{
    flex-grow: 1;

    &-input{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hex{
        margin-right: 10px;
        margin-left: 20px;
    }

    .rgb{
        display: flex;
        margin-top: 15px;

        .input{
            margin-right: 10px;
        }
    }
}