@import '../../base/colors';

.slider{
    &-add{
        //font-weight: bold;
        background-color: $vscode-blue;
        margin-top: 18px;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 15px;
        padding: 10px 24px;
        color: #fff;
        margin-top: 22px;
        
        font-size: 0.8rem;


        transition: all 0.2s ease-out;

        &:hover{
            background-color: $vscode-blue-light;
        }
    }

    &-wrapper{
        width: 90%;
        padding: 0 15px;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 10px;

        .section-title{
            transition: opacity 0.2s ease-in;
        }

        .section-title.disabled{
            opacity: 0.6;
        }

        

        &-angle{
            display: flex;
            width: 100%;

            .angle{
                font-size: 2rem;
                margin-left: 18px;
                margin-top: -24px;
                padding: 10px;
                width: 146px;
                text-align: center;
                background-color: white;
                color: #000;

                span{
                    margin-left: 3px;
                    font-weight: bold;
                }
            }

            transition: opacity 0.2s ease-in;

            &.disabled{
                opacity: 0.5;

                .angle{
                    opacity: 0.5;
                }
            }
        }
    }
}

.rc-slider-disabled{
    background-color: transparent !important;
}

.range-slider{
    width: 100%;
}

.range-selector{
    width: 100%;
    height: 10px;
    background-color: beige;
    border-radius: 3px;

    display: flex;
    flex-direction: row;

    .range-selector-separator{
        width: 3px;
        margin: 0 -1.5px;
        height: 10px;
        background-color: #fff;
    }

    &-item{
        height: 10px;
        cursor: pointer;

        transition: all 0.1s ease-in;

        &:hover{
            margin-top: -2.5px;
            height: 15px;
            z-index: 10;
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        }
    }
}

.range-selector-wrapper{
    width: 100%;

    display: flex;
    flex-direction: column;
    height: 90px;

    &-info{
        color: rgb(173, 173, 173);
        text-align: center;
        font-size: 0.9rem;
        margin-top: 14px;
    }

    &-cancel{
        align-self: flex-end;
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: $blue;
        cursor: pointer;

        margin-top: -23px;
    }
}