.type{
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 38px;

    &-item{
        $height: 47px;


        width: 140px;

        height: $height;
        line-height: $height;
        
        background-color: #141414;
        text-align: center;
        font-size: 1rem;
        color: rgb(180, 180, 180);
        font-weight: bold;

        cursor: pointer;

        transition: all 0.2s linear;

        &:hover{
            color: #fff;
        }

        &.selected{
            background-color: #fff;
            color: #000;
        }
    }
}